html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background: LightGray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
div {
	border: 1px solid Chocolate;
}
.content {
	padding: 0px 15px;
	margin: 0 auto;
}
button {
	width: 10rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	color: white;
	font-size: 1.125rem;
}
/* Navigation Section*/
.top-navigation {
	background-color: #fff;
	position: fixed;
	border-bottom: 1px solid #DDD;
	width: 100%
}
.top-navigation, .content {
	padding: 0px 75px;
	margin: 0 auto;
}
.top-navigation .logo {
	height: 70px;
}
.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
}
.top-navigation .links li {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	margin-left: 1.563rem;
}
.top-navigation .links li.active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

/*Introduction Section*/
.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}
.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.introduction h3 {
	margin-top: 1.35rem;
	font-size: 1.563rem;
}
.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;  
}

/* The Buttons */
.introduction .big-button {
	color: white;
	text-align: center;
	margin-top: 1.563rem;
}
.big-button button:hover {
	cursor: pointer;
	color: #333333;
}

/*Cases Section*/
.cases {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
}
.cases .content {
	margin-top: 7.875rem;
	padding: none;
	color: #1d1e21;
	text-align: center;
}
.cases h2 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}
.cases .devices > li {
	width: 33.333333%;
	float: left;
}
.cases .devices h3 {
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
}
/*Footer*/
.footer {
	background-color: #fff;
	overflow: auto;
	padding-bottom: 9.375rem;
	text-align: center;
}
.footer hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}
.footer .icons > li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	float: center;
}
.footer .icons > li:hover {
	cursor: pointer;
}
.footer .twitter {
	color: #55acee;
}
.footer .facebook{
	color:#4c66a4;
}
.footer .instagram {
	color: #3f729b;
}
.footer .copy, h5 {
	font-size: 0.9rem;
	font-weight: 300;
	color: #838994;
	text-align: center;
}